{% extends 'basestyle.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
<h2>Create New</h2>

   <div>
       <div id = "simpleform">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.age) }}
        {{ form_errors(form.age) }}
        {{ form_widget(form.age) }}
    </div>

    <div>
        {{ form_widget(form.save) }}
    </div>

{{ form_end(form) }}
</div>
</div>
{% endblock %}

